.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.left-header-block {
    display: flex;
    align-items: center;
}

#button-sidemenu:hover {
    cursor: pointer;
}

.search-form {
    width: 160px;
}

.search-input {
    margin-left: 0.5rem;
    width: 100%;
    height: 36px;
    border-radius: .25rem;
    border: 1px solid;
    text-indent: .5rem;
    font-size: 1.2em;
    font-weight: 400;
    color: black;
}

.right-header-block {
    display: flex;
}

.logout {
    display: flex;
    align-items: center;
}

.logout:hover {
    color: red;
    cursor: pointer;
}

.logout-text {
    margin-right: .5rem;
    font-weight: 400;
    font-size: 1.1rem;
}


.app-holder {
    flex-grow: 1;
    display: flex;
}

.sidenav {
    height: 100%;
    width: 0px;
    min-width: 0px;
    background-color: white;
    overflow: hidden;
    /* position: fixed; */
    padding-top: 5px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.sidenav-open {
    width: 300px;
    min-width: 300px;
}

.main-sidenav-open {
    margin-left: 300px;
}

.sidenav>* {
    margin-left: 10px;
    margin-right: 10px;
}

.sidenav-name {
    font-weight: 700;
    font-size: 1.25em;
    padding-bottom: 1rem;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.project:hover {
    background-color: lightgray;
    cursor: pointer;
}

.project-name {
    font-weight: 500;
    font-size: 1.2em;
    /* padding-bottom: 0.5rem; */
    margin-left: 2px;
}

.project-task-count {
    font-weight: 400;
    font-size: 1.1em;
    color: #000000AA;
}

.create-project {
    display: flex;
    align-items: center;
}

.create-project:hover {
    color: red;
}

.fav-icon {
    height: 30px;
    width: 30px;
    background-color: black;
}

.create-project-text {
    margin-left: 0.5rem;
    font-weight: 500;
}

main {
    flex-grow: 1;
    display: flex;
    background-color: #FFF4EA;
    padding: 0.5rem;
}

.section-list {
    display: flex;   
}

.task-section {
    border: 1px solid;
    border-radius: 0.5rem;
    padding: .5rem;
    width: 260px;
    margin-right: .75rem;
    /* min-height: min-content;
    max-height: 80%; */
    background-color: white;
}

.task-section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
}

.task-section-name {
    font-weight: 500;
    font-size: 1.1em;
    word-wrap: break-word;
    overflow: hidden;
}

.section-task-count {
    color: #000000AA;
    font-size: 0.95em;
    font-weight: 400;
}

.task {
    margin-bottom: 0.75rem;
    background-color: #E5E5E5;
    padding: .5rem;
    border-radius: .5rem;
}

.task:hover {
    border: .5px solid;
    cursor: pointer;
}

.task-selected {
    border: .5px solid;
}

.task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-header-left {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.check-circle {
    border: 3px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    flex-shrink: 0;
}

.check-circle-priority-1 {
    border-color: black;
}

.check-circle-priority-2 {
    border-color: blue;
}

.check-circle-priority-3 {
    border-color: limegreen;
}

.check-circle-priority-4 {
    border-color: red;
}

.task-name {
    font-size: 1.1em;
    margin-left: 0.5rem;
    font-weight: 400;
    word-wrap: break-word;
    overflow: hidden;
}

.task-options {
    visibility: visible;
}


.task-description {
    margin-top: 0.3rem;
    font-size: 0.9em;
    font-weight: 400;
    word-wrap: break-word;
}


.add-task {
    display: flex;
    align-items: center;
}

.add-task:hover {
    color: red;
}

.add-task-text {
    font-size: 0.95em;
    font-weight: 400;
    margin-left: 0.5rem;
}

.add-section {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: .5rem;
    height: fit-content;
    padding: 0.5rem;
    width: 260px;
    background-color: white;
}

.add-section:hover {
    color: red;
    border-color: black;
}

.add-section-text {
    margin-left: 0.5rem;
    font-weight: 500;
    font-size: .95em;
}

.create-project-inputform {
    display: none;
}

.create-project-form {
    width: 100%;
}

.create-project-input {
    font-size: 1.2em;
    height: 30px;
    width: 100%;
    text-indent: 0.25rem;
}

.create-project-buttons {
    display: flex;
    margin-top: 0.5rem;
}

.create-project-button-confirm {
    padding: 0.25rem;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.05em;
}

.create-project-button-cancel {
    margin-left: 0.5rem;
    padding: 0.25rem;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.05em;
}


.add-section-inputform {
    display: none;
    height: fit-content;
    padding: 0.75rem;
    border: 1px solid;
    border-radius: .5rem;
    width: 260px;
    background-color: white;
}

.add-section-form {
    width: 100%;
}

.add-section-input {
    font-size: 1.2em;
    height: 30px;
    width: 100%;
    text-indent: 0.25rem;
}

.add-section-buttons {
    display: flex;
    margin-top: 0.5rem;
}

.add-section-button-confirm {
    padding: 0.25rem 0.5rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.05em;
}

.add-section-button-cancel {
    margin-left: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.05em;
}


.add-task-inputform {
    display: none;
}

.add-task-form {
    width: 100%;
}

.add-task-input-container {
    border: 1px solid;
    border-radius: .25rem;
    padding: .25rem;

}

.add-task-input {
    font-size: 1em;
    height: 30px;
    width: 100%;
    text-indent: 0.25rem;
    border-width: 0px;
    margin-bottom: .25rem;
}

.add-task-input-description {
    resize: none;
    text-indent: .25rem;
    font-size: 0.9em;
    border-width: 0px;
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.add-task-buttons {
    display: flex;
    margin-top: 0.5rem;
}

.add-task-button-confirm {
    padding: 0.25rem;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.05em;
}

.add-task-button-cancel {
    margin-left: 0.5rem;
    padding: 0.25rem;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.05em;
}

.priority-container {
    display: flex;
    margin-top: .5rem;
}

.priority-container label {
    /* margin-right: .5rem; */
    padding: .5rem;
}

.priority-container label i {
    opacity: 0.55;
}

.priority-radio-button {
    opacity: 0;
    position: absolute;
}

.priority-container label:hover {
    cursor: pointer;
}

.priority-container label:hover i {
    opacity: 1;
    cursor: pointer;
}

.priority-container label:hover input {
    cursor: pointer;
}


.priority-radio-button:checked + i {
    opacity: 1;
}

.priority-1 {
    color: black;
}

.priority-2 {
    color: blue;
}

.priority-3 {
    color: limegreen;
}

.priority-4 {
    color: red;
}