<header>
    <div class="container">
        <div class="logo">
            <img src="assets/logo.png" class="logo-img logo-img-small">
            <div class="logo-name">todo</div>
        </div>
        <nav class="navbar">
            <ul class="nav">
                <li>
                    <a routerLink="/login">Log in</a>
                </li>
                <li>
                    <a routerLink="/signup">Sign up</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <div class="img-wrapper">
        <img src="assets/logo.png" class="logo-img">
    </div>
    <div class="call-to-action">
        <h1 class="title">Organize it all with todo</h1>    
        <a routerLink="/signup" class="button">Sign up</a>
    </div>
</main>